<nav class="navbar navbar-light navbar-fixed-top">
  <div class="container">
    <div id="navbar" class="navbar-collapse collapse">
      <div class="navbar-header">
        <a class="nav-text navbar-brand"> MemePoly </a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a class="nav-text" href="/"><strong> Home </strong></a>
        </li>
        <li>
          <a class="nav-text" href="/gallery?page=1&sort=new"> Gallery </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h2 style="text-align: center;"> Log In </h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
