<div class="card border rounded py-1" width="100%" height="100%">
  <div class="alert alert-danger text-center report-alert" data-post=<%= post.id %>>
    Thank you for reporting this post.
  </div>
  <div class="label-container">
    <span class="nav-text label label-success">Upvotes | <%= post.votes %></span>
    <span class="nav-text label label-info">Source | <%= post.subreddit %></span>
    <span class="nav-text label label-info">Created | <%= post.timestamp %></span>
  </div>
  <% if post.is_video %>
  <iframe class="rounded card-image-top center" src=<%= post.link %> data-title=<%= post.nb_title %> width="150%" height="390px">iframe not supported</iframe>
  <% else %>
  <img class="rounded card-image-top center" id="postImg" src=<%= post.link %> data-title=<%= post.nb_title %> width="100%" height="100%"><br>
  <% end %>
  <p class="nav-text card-text text-center" id="title"><%= post.title %></p><br>
  <div class="card-body">
    <div class="container" id="button">
      <%= button_to "Report", {:controller=>"posts", :action=>"report", :id=>post.id}, :method=>:patch, :class=>"button-form nav-text btn btn-md btn-danger report-btn", :data=>{"post"=>post.id}%>
      <form action=<%= post.source %> method="get" target="_blank" >
        <button type="submit" class="button-form nav-text btn btn-md btn-info" >Source</button>
      </form>
    </div>
  </div>
</div>
