<%= javascript_pack_tag 'pagination' %>
<%= javascript_pack_tag 'vi_scroll' %>
<%= javascript_pack_tag 'modal_img'%>
<%= javascript_pack_tag 'param_change'%>
<nav class="navbar navbar-light navbar-fixed-top">
  <div class="container">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet">
    <div class="navbar-right">
      <p class="navbar-text">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-text' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-text' %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'nav-text' %> |
          <%= link_to "Sign in", new_user_session_path, :class => 'nav-text' %>
        <% end %>
      </p>
    </div>
    <div class="navbar-header">
      <a class="nav-text navbar-brand">Gallery</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a class="nav-text gall-home" href="/"><strong>Home</strong></a></li>
        <li class="dropdown">
          <a href="#" class=" nav-text dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Source</span> <span class="caret"></span></a>
          <ul class="nav-text dropdown-menu">
            <li><a class="nav-text param-change" data-param="source" data-val="all">All</a></li>
            <li><a class="nav-text param-change" data-param="source" data-val="CalPolyPomona" href="#">r/CalPolyPomona</a></li>
            <li><a class="nav-text param-change" data-param="source" data-val="ProgrammerHumor" href="#">r/ProgrammerHumor</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="nav-text dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Sort</span> <span class="caret"></span></a>
          <ul class="nav-text dropdown-menu">
            <li><a class="nav-text param-change" data-param="sort" data-val="new">New</a></li>
            <li><a class="nav-text param-change" data-param="sort" data-val="votes">Top</a></li>
            <li><a class="nav-text param-change" data-param="sort" data-val="rand">Random</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container" role="main">
  <!--Modal image for image links-->
  <div id="modalDiv" class="modal">
    <img id="modalImg" class="modal-content">
    <div id="caption"></div>
  </div>
</div>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row" id="post-gallery">
      <%= render @posts %>
    </div>
    <div id="infinite-scroll">
      <%= will_paginate %>
    </div>
  </div>
</div>
