<%= javascript_pack_tag 'pagination' %>
<%= javascript_pack_tag 'vi_scroll' %>
<%= javascript_pack_tag 'modal_img'%>
<%= javascript_pack_tag 'param_change'%>
<%= javascript_pack_tag 'report_alert'%>
<nav class="navbar navbar-light navbar-fixed-top">
  <div style="max-width: 90%; margin: auto; min-height: 60px;">
    <div class="navbar-right vertical-center" style="min-height: 60px;">
      <p class="navbar-text">
        <% if user_signed_in? %>
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-text' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-text' %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'nav-text' %> |
          <%= link_to "Sign in", new_user_session_path, :class => 'nav-text' %>
        <% end %>
      </p>
    </div>
    <div class="navbar-header">
      <a class="nav-text navbar-brand" href="/"><img src="/assets/billy_bronco.png" width="32px" height="32px"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="nav-text dropdown-item dropdown-toggle" style="min-height: 60px; display: flex; align-items: center;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><img src="/assets/nataicons/24x24/menu.svg"></a>
          <ul class="nav-text dropdown-menu">
            <h6 class="dropdown-header">Sort</h6>
            <li><a class="nav-text param-change" data-param="sort" data-val="new">New</a></li>
            <li><a class="nav-text param-change" data-param="sort" data-val="votes">Top</a></li>
            <li><a class="nav-text param-change" data-param="sort" data-val="rand">Random</a></li>
            <h6 class="dropdown-header">Source</h6>
            <li><a class="nav-text param-change" data-param="source" data-val="all">All</a></li>
            <li><a class="nav-text param-change" data-param="source" data-val="CalPolyPomona" href="#">r/CalPolyPomona</a></li>
            <li><a class="nav-text param-change" data-param="source" data-val="ProgrammerHumor" href="#">r/ProgrammerHumor</a></li>
          </ul>
        </li>
        <% if user_signed_in? %>
        <li>
          <a class="nav-text nav-gallery" href="/userfavorite?page=1&sort=new" style="min-height: 60px; display: flex; align-items: center;">Favorites</a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class="container" role="main">
  <!--Modal image for image links-->
  <div id="modalDiv" class="modal">
    <img id="modalImg" class="modal-content">
    <div id="caption"></div>
  </div>
</div>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row" id="post-gallery">
      <%= render @posts %>
    </div>
    <div id="infinite-scroll">
      <%= will_paginate %>
    </div>
  </div>
</div>
