<%= javascript_pack_tag 'vi_scroll' %>
<%= javascript_pack_tag 'modal_img' %>
<nav class="navbar navbar-light navbar-fixed-top">
  <div class="container">
    <div class="navbar-right">
    <p class="navbar-text">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
      <% end %>
    </p>
    </div>
    <div class="navbar-header">
      <a class="nav-text navbar-brand">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a class="nav-text" href="/gallery?page=1&sort=new">Gallery</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container wrapper flex-grow-1" role="main">
  <!--Modal image for image links-->
  <div id="modalDiv" class="modal">
    <img id="modalImg" class="modal-content">
    <div id="caption"></div>
  </div>
  <div class="row">
    <%= render @post %>
  </div>
</div>
<footer class="nav-text page-footer font-small green" id="about">
  <div class="container-fluid text-center text-md-left">
    <h4>Welcome to Meme Poly, an image board that aggregates Cal Poly Pomona and CS memes</h4>
    <p>
      Enjoy the random meme above or visit the gallery for more!<br>
      Help us out by reporting broken links with the report button.
    </p>
  </div>
</footer>
