<%= javascript_pack_tag 'vi_scroll' %>
<%= javascript_pack_tag 'modal_img' %>
<%= javascript_pack_tag 'report_alert'%>
<%= render "general_nav_bar" %>
<div class="container wrapper flex-grow-1" role="main">
  <!--Modal image for image links-->
  <div id="modalDiv" class="modal">
    <img id="modalImg" class="modal-content">
    <div id="caption"></div>
  </div>
  <div class="row">
    <%= render @post %>
  </div>
</div>
<footer class="nav-text page-footer font-small green" id="about">
  <div class="container-fluid text-center text-md-left">
    <h4>Welcome to Meme Poly, an image board that aggregates Cal Poly Pomona and CS memes</h4>
    <p>
      Enjoy the random meme above or visit the gallery for more!<br>
      Help us out by reporting broken links with the report button.
    </p>
  </div>
</footer>
