<%= javascript_pack_tag 'vi_scroll' %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/gallery?page=1&sort=new">Gallery</a>
        </li>
    </div>
  </div>
</nav>
<div class="container" role="main">
  <div class="page-header">
    <h3 id="imgTitle"><%= @post.title %></h3>
    <span class="label label-success">Upvotes | <%= @post.votes %></span>
    <span class="label label-info">Created | <%= @post.timestamp %></span>
  </div>
  <div class="jumbotron vertical-center">
    <!--Use iframe tag for video link, img tag for image link-->
    <% if @post.is_video %>
    <iframe class="center" src=<%= @post.link %> height="720px" width="100%" data-title=<%= @post.nb_title %>>iframe not supported</iframe>
    <% else %>
    <%= javascript_pack_tag 'modal_img' %>
    <img data-src="holder.js/200x200" id="homeImg" class="img-thumbnail center" src=<%= @post.link %> data-title=<%= @post.nb_title %> data-holder-rendered="true"><br>
    <!--Modal image for image links-->
    <div id="modalDiv" class="modal">
      <img id="modalImg" class="modal-content">
      <div id="caption"><%= @post.title %></div>
    </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-between align-items-center" id="button">  
     <form action=<%= @post.source %> method="get" target="_blank">
       <button type="submit" class="btn btn-lg btn-info" >Source</button>
     </form>
  </div>
</div>
