<%= javascript_pack_tag 'vi_scroll' %>
<%= render "general_nav_bar" %>
<% if @posts.length == 0 %>
<div class="page-header text-center">
  <h1>There are currently no reported posts</h1>
</div>
<% else %>
<div class="album py-5 bg-light">
  <div class="container">
    <%= @posts.each do |post| %>
    <div class="jumbotron">
      <%= render post %>
      <div style="max-width: 100%;" id="buttons">
        <%= button_to "Clear", {:controller=>"posts", :action=>"clear", :id=>post.id}, :method=>:patch, :class=>"button-form float-right btn btn-md btn-dark" %>
        <%= button_to "Confirm", {:controller=>"posts", :action=>"confirm", :id=>post.id}, :method=>:patch, :class=>"button-form btn btn-md btn-success" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>

